@import url("base.css");
.sta-number {
    padding: 20px 0;
}

.sta-number .sta-card {
    width: 23%;
    padding: 20px;
    float: left;
    overflow: hidden;
    position: relative;
}

.sta-number .sta-card:not(:first-child) {
    margin-left: 2.66%;
}